@font-face {
  font-family: P22Johnston;
  src: url(fonts/P22UndergroundBook.otf), format("otf");
  font-display: swap;
}

html {
  box-sizing: border-box;
  font-family: P22Johnston;
  background-color: #121213;
  margin: 0px;
}

h1,
h2 {
  text-align: center;
  color: #ffffff;
  font-size: 6vw;
}

#date {
  font-size: 4vw;
  margin-bottom: 8vw;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10vw;
}

button {
  width: 80vw;
  margin: 2vw 10vw;
  padding: 5vw;
  border: 3px solid #ffffff;
  background-color: #3a3a3c;
  font-size: 4vw;
  color: #ffffff;
}
