@font-face {
  font-family: P22Johnston;
  src: url(fonts/P22UndergroundBook.otf), format("opentype");
  font-display: swap;
}

html {
  box-sizing: border-box;
  font-family: P22Johnston, serif;
  background-color: #121213;
  color: #ffffff;
}

h1,
h2 {
  text-align: center;
  margin: 0.5vh 2.5vw;
}

h1 {
  font-size: 3rem;
  margin-top: 2vh;
}

#date {
  font-size: 2rem;
  margin-bottom: 2vh;
}

button {
  margin: 1vh 10vw;
  padding: 1.25rem;
  width: 80vw;
  height: 5vh;
  border: 3px solid #ffffff;
  background-color: #3a3a3c;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}

#code {
  font-family: monospace;
  border: none;
}

#popup {
  height: 100vh;
  width: 80vw;
  margin: 0 10vw;
}

#popup button {
  margin: 3vh 0;
}

p {
  font-size: 1.25rem;
}

.hidden {
  display: none;
}

/* desktop only */

@media only screen and (min-width: 1025px) {
  button {
    width: 40vw;
    height: 1vh;
    font-size: 1.25rem;
    margin: 0.5vh 0vw;
  }

  #popup {
    width: 40vw;
    margin: 0 auto;
    height: 80vh;
  }
}
@media only screen and (max-width: 768px) {
  button {
    width: 90vw;
    margin: 0.5vh 5vw;
  }

  h1 {
    font-size: 2rem;
  }
}
