@font-face {
  font-family: P22Johnston;
  src: url(fonts/P22UndergroundBook.otf), format("otf");
  font-display: swap;
}

html {
  box-sizing: border-box;
  font-family: P22Johnston;
  background-color: #121213;
}

h1,
h2 {
  text-align: center;
  color: #ffffff;
}

h1 {
  font-size: 3rem;
}

#date {
  font-size: 2rem;
  margin-bottom: 2vh;
}

button {
  margin: 1vh 10vw;
  padding: 5vw;
  width: 80vw;
  border: 3px solid #ffffff;
  background-color: #3a3a3c;
  font-size: 4vw;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
}

/* mobile only */

@media only screen and (max-width: 1024px) {
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10vw;
  }
}

/* desktop only */

@media only screen and (min-width: 1025px) {
  header {
    border-bottom: 1px solid #7d7575;
  }

  button {
    width: 40vw;
    height: 1vh;
    font-size: 1.25rem;
    padding: 1rem;
    margin: 1vh 0vw;
  }
  .buttons {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  h1 {
    font-size: 2.5rem;
  }

  #date {
    font-size: 1.5rem;
  }
}
