@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: P22Johnston, serif;
}

@font-face {
  font-family: P22Johnston;
  src: url(fonts/P22UndergroundBook.otf), format("opentype");
  font-display: swap;
}

#date {
  font-size: 2rem;
  margin-bottom: 2vh;
}

button {
  width: 80vw;
  height: 5vh;
  border: 3px solid #ffffff;
  background-color: #3a3a3c;
  font-size: 1.5rem;
  display: flex;
  text-align: center;
  color: #ffffff;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#code {
  font-family: monospace;
}
