@font-face {
  font-family: P22Johnston;
  src: url(fonts/P22UndergroundBook.otf), format("opentype");
  font-display: swap;
}

html {
  box-sizing: border-box;
  font-family: P22Johnston, sans-serif;
  background-color: #121213;
  color: #ffffff;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 3rem;
}

#date {
  font-size: 2rem;
  margin-bottom: 2vh;
}

button {
  margin: 1vh 10vw;
  padding: 1.25rem;
  width: 80vw;
  height: 5vh;
  border: 3px solid #ffffff;
  background-color: #3a3a3c;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}

/* desktop only */

@media only screen and (min-width: 1025px) {
  button {
    width: 40vw;
    height: 1vh;
    font-size: 1.25rem;
    margin: 1vh 0vw;
  }
}
